/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // 导航一栏

// navbar颜色问题修复
#NavCol {
background-color: #2d2d30;
}

/* Add a dark background color with a little bit see-through */
 .navbar {
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 1px;
  opacity:0.65;
}


/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn grey */
.dropdown-menu li a:hover {
    background-color: grey !important;
}

 .carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(30%); /* 黑白化图片的三段语句,好像不成功?!make all photos black and white */
    width: 100%; /* 第一版设计加的 Set width to 100% */
    margin: auto;
}


/*.carousel-caption  {


    font-family: SimSun, STFangSong;
    color: #fff !important;
}
*/

.carousel-caption h2 {
    font-weight:bold;
    color: #fff !important;
    font-size: 40px !important;
    font-family: STFangSong !important;
}

.carousel-caption p {
    color: #fff !important;
    font-size: 20px !important;
    font-family: STFangSong !important;
}

p.tip span {
	//font-weight:bold;
  font-family: STFangSong !important;
  font-size: 200% !important;
	}

h2.tip span {
  //font-weight:bold;
  font-family: STFangSong !important;
  font-size: 200% !important;
  }



@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* 这三段语句,没起到黑白化图片作用?要再实验.Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

 .container {
    padding: 80px 120px;  /*第一版设计加入的功能*/
    font-family: STXihei!important;
}

 .person {
     border: 10px solid transparent;
     margin-bottom: 50px;
     width: 70%;  /*这两段 person开头的,是用来切换图片用的*/
     height: 70%;
     opacity: 0.8;
}
 .person:hover {
     border-color: #f1f1f1;
}


 .jumbotron {
  background-image:url('https://files.slack.com/files-pri/T1WMNE3EX-F47RUH31S/____________.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 110px;
}

// How part design

.boxes {
    background-color: #F5F5F5;
    padding-top: 33px;
    padding-bottom: 50px;
}

.boxes-2 {
    background-color: #F5F5F5;
    padding-top: 18px;
    padding-bottom: 60px;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.content_area {
    text-align: center;
}

.content_area {
    width: 90%;
    margin-left: 4.5%;
    margin-top: 4%;
}

.round-container {
    border: 1px solid #c6c6c6;
    border-radius: 20px;
    background-color: white;
    padding: 44px 30px 56px 30px;
    text-align: center;
    height: auto;
    color: #50514F;
}


.center-block {
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pd {
    padding: 0 20px 25px 20px;
}

.pd-last {
    padding: 0 20px 0 20px;
}

// end of how design

// what design

.syllabus {
    background: url(http://ols6vd1wm.bkt.clouddn.com/Banner_3.png);
    background-size: cover;
    min-height: 200px;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.white {
    color: #FFF;
}

.f40 {
    font-size: 40px;
}

.kozgopro-medium {
    font-family: KozGoPro-Medium !important;
    color: #50514F;
}

.col-xs-12 {
    float: left;
    width: 100%;
}

.box-2-lft {
    border-bottom: 1px solid rgba(52,60,72,0.2);
    padding-bottom: 30px;
}



.boxes-2 ol {
    font-size: 16px;
    padding-left: 0;
    margin-left: 0;
    counter-reset: item;
    line-height: 210%;
    font-weight: bold;
    padding-top: 10px;
}

.ol {
    margin-top: 0;
    margin-bottom: 10px;
}

.br {
    display: none;
}

.kozgopro-regular {
    font-family: KozGoPro-Regular !important;
    color: #50514F;

}

// end of what design


// call to cation I



/* Remove rounded borders from list */
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Remove border and add padding to thumbnails */
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}

/* Black buttons with extra padding and without rounded borders */
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}

/* On hover, the color of .btn will transition to white with black text */
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}

.nav-tabs li a {
    color: #777;
}

// call to action I end


.title {
  font-family: SimSun，STSong;
  text-align: left;
  margin-top: 200px;
  margin-bottom: 80px;
}

.slogan {
  margin-top: 10px;
  margin-bottom: 50px;
  font-family: YouYuan;
  text-align: left;
  color: light orange;
  top: 12px;
}

.lead {
  margin-bottom: 60px;
  text-align: left;
  color: white;
}
//如下 bg开头的皆为背景色而准备
.bg-color1 {
  background: #50514F;
}

.bg-color2 {
  background: #424242;
}

.bg-color3 {
  background: #212121;
}

.bg-color4 {
  background: #A9A9A9;
}

.bg-color5 {
  background: #CFD8DC;
}
// 背景色


// footer固定

html, body {
    height: 100%;
    margin: 0;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
    margin-bottom: -233px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
    height: 233px;
}
.site-footer {
  background: #2d2d30;
}

// 上下滚动图片,自带背景不动效果


.ap-parallax-1 {
    margin: 0 auto;
    background: url(http://ols6vd1wm.bkt.clouddn.com/Banner_1.jpg) no-repeat;
    width: 100%;
    padding-top: 140px;
    padding-bottom: 170px;
    background-size: cover;
    background-attachment: fixed;
    position: static;
    min-height: 460px;
    background-position: 50% 0%;
}

.ap-parallax-2 {
    margin: 0 auto;
    background: url(http://ols6vd1wm.bkt.clouddn.com/Banner_2.jpg) no-repeat;
    width: 100%;
    padding-top: 140px;
    padding-bottom: 170px;
    background-size: cover;
    background-attachment: fixed;
    position: static;
    min-height: 460px;
    background-position: 50% 0%;
}



// 图片

// 校园 http://ols6vd1wm.bkt.clouddn.com/%E6%A0%A1%E5%9B%AD2.jpg
// 职场 http://ols6vd1wm.bkt.clouddn.com/%E8%81%8C%E5%9C%BA1.jpg
// 职场 http://ols6vd1wm.bkt.clouddn.com/%E8%81%8C%E5%9C%BA2.jpg

// 滚动图片的字体颜色设定

.p-title {
    color: #fff;
    font-size: 35px;
    letter-spacing: -3px;
    text-shadow: -2px -2px 0 #424242
}

.p-desc {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
    text-shadow: -2px -2px 0 #424242
}


 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";


 @import url(http://fonts.googleapis.com/css?family=Roboto);

 /****** LOGIN MODAL ******/
 .loginmodal-container {
   padding: 30px;
   max-width: 350px;
   width: 100% !important;
   background-color: #F7F7F7;
   margin: 0 auto;
   border-radius: 2px;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   overflow: hidden;
   font-family: roboto;
   background-image: url(http://www.rizi168.com/upload/img/94KOjY5JmIWw3hfPpivZJJDiM91It-tBq3Y0VX4CEREFFM7sODohe1OQJJLL7C-VK/GSFAacnMZnUlV1olJ0EoIp.jpg);
   background-size: cover;
 }

 .loginmodal-container h1 {
   text-align: center;
   font-size: 1.8em;
   font-family: roboto;
 }

 .loginmodal-container input[type=submit] {
   width: 100%;
   display: block;
   margin-bottom: 10px;
   position: relative;
 }

 .loginmodal-container input[type=text], input[type=password] {
   height: 44px;
   font-size: 16px;
   width: 100%;
   margin-bottom: 10px;
   -webkit-appearance: none;
   background: #fff;
   border: 1px solid #d9d9d9;
   border-top: 1px solid #c0c0c0;
   /* border-radius: 2px; */
   padding: 0 8px;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
 }

 .loginmodal-container input[type=text]:hover, input[type=password]:hover {
   border: 1px solid #b9b9b9;
   border-top: 1px solid #a0a0a0;
   -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
   -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
   box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
 }

 .loginmodal {
   text-align: center;
   font-size: 14px;
   font-family: 'Arial', sans-serif;
   font-weight: 700;
   height: 36px;
   padding: 0 8px;
 /* border-radius: 3px; */
 /* -webkit-user-select: none;
   user-select: none; */
 }

 .loginmodal-submit {
   /* border: 1px solid #3079ed; */
   border: 0px;
   color: #fff;
   text-shadow: 0 1px rgba(0,0,0,0.1);
   background-color: #4d90fe;
   padding: 17px 0px;
   font-family: roboto;
   font-size: 14px;
   /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
 }

 .loginmodal-submit:hover {
   /* border: 1px solid #2f5bb7; */
   border: 0px;
   text-shadow: 0 1px rgba(0,0,0,0.3);
   background-color: #357ae8;
   /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
 }

 .loginmodal-container a {
   text-decoration: none;
   color: #666;
   font-weight: 400;
   text-align: center;
   display: inline-block;
   opacity: 0.6;
   transition: opacity ease 0.5s;
 }

 .login-help{
   font-size: 12px;
 }
